@font-face {
  font-family: 'HostGrotosek';
  font-weight: 300;
  src: url('@/assets/fonts/HostGrotesk-Light.woff2');
}

@font-face {
  font-family: 'HostGrotosek';
  font-weight: 700;
  src: url('@/assets/fonts/HostGrotesk-Bold.woff2');
}

@font-face {
  font-family: 'HostGrotosek';
  font-weight: 900;
  src: url('@/assets/fonts/HostGrotesk-Black.woff2');
}
